{% extends 'base.html' %}


{% block head %}
<title>Team Detail</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Team: {{team}}</h2>
    <p>Summary: {{summary}}</p>

    <h3> Managers </h3>
    <ul>
    {% for manager in managers %}
    <!-- <li>{{manager.display_name}}</li> -->
    <li><a href="{% url 'view_profile_with_pk' manager.id%}">{{manager.display_name}}</a>
    {% if user == team.owner %}
    {% if manager.user != team.owner %}
          <a href="#" onclick="confirmTransfer('{% url 'transfer_owner' team.id manager.id %}'); return false;"><i class="fas fa-user-tie"></i></a> 
    {% endif %}
    {% endif %}
</li>
    {% endfor %}
    </ul>

    <h3> Employees </h3>
    {% if employees%}
        <ul>
        {% for employee in employees %}
        <!-- <li>{{employee.display_name}}</li> -->
        <li><a href="{% url 'view_profile_with_pk' employee.id%}">{{employee.display_name}}</a> 
        {% if user == team.owner %}
            <a href="#" onclick="confirmDelete('{% url 'delete_member' team.id employee.id %}'); return false;"><i class="fa fa-trash"></i></a> 
            <a href="#" onclick="confirmPromote('{% url 'promote_member' team.id employee.id %}'); return false;"><i class="far fa-arrow-alt-circle-up"></i></a> 
            
            {% comment %} <a href="{% url 'delete_member' team.id employee.id%}"><i class="fa fa-trash"></i></a> {% endcomment %}
        {% endif %}
        </li>        
        {% endfor %}
        </ul>
    {% else %}
    <p>There is no employee in the team.</p>
    {% endif %} 
    <!-- {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %} -->

    {% comment %} dropdown {% endcomment %}

    
    {% if user == team.owner %}
    <form action="{% url 'add_user' team.id %}" method="post">
    {% csrf_token %}
    <select name="user_id">
    <option value="0">-- Please Select --</option>
    {% for user in ulist %}
    <option value="{{user.id}}">{{ user.diaplay_name_and_email }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Add Member">
    </form>
    

    
    <button onclick="window.location.href = '{% url 'team_remove' team.id %}';">Delete Team</button>
    <button onclick="window.location.href = '{% url 'team_update' team.id %}';">Update Team</button>
    <br>
    {% comment %} <input type="text" id="add_member" name="add_member"  placeholder="add a member">
    <button onclick="addMember(document.getElementById('add_member').value);">(Test)Add Team Member</button>
    {% endcomment %}

    {% endif %}
    <br>
    {% if role == 1 %}
    <p><input class="btn btn-success" onclick="window.location.href = '{% url 'create_task_with_team_id' team.id %}';" value="Create a task"></p>
    {% endif %}
</div>



<script>
function addMember(user){
    /*fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, cors, *same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
        },
        redirect: "follow", // manual, *follow, error
        referrer: "no-referrer", // no-referrer, *client
    }).then(
        function(data){
            console.log(url, 'finished');
            $("#unfavorite_star_"+thing_id).toggle();
            $("#favorite_star_"+thing_id).toggle();
        }
    );*/
    alert("You are now looking for " + user);

}
</script>
<script>
function confirmDelete(url){    
    if (confirm("Are you sure you want to delete the member?")){
        console.log(url)
        window.location.href = url;
    }    
}
</script>
<script>
    function confirmPromote(url){    
        if (confirm("Are you sure you want to Promote the member?")){
            console.log(url)
            window.location.href = url;
        }    
    }
</script>
<script>
    function confirmTransfer(url){    
        if (confirm("Are you sure you want to tranfer the ownership to this member?")){
            console.log(url)
            window.location.href = url;
        }    
    }
</script>

{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}

