{% extends "base.html" %}


{% block head %}
<title>Dashboard </title>

{% endblock %}

{% block body %}
<div class="container">

            



<h1><i class="fas fa-tachometer-alt"></i> Dashboard </h1>

<br>



<h2>My managed tasks</h2>
{% if manager_task_list %}    
   <ul>
    {% for task in manager_task_list %}
    <li> <a href="{% url 'task_detail' task.id %}">{{task.title}}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>You do not have any ongoing tasks managed. </p> 
{% endif %}
<p><button class="button" onclick="window.location.href = '{% url 'pre_create_task' %}';">Create a task</button></p>

<h2>Tasks TODO</h2>
{% if assigned_task_list %}
<ul>
    {% for task in assigned_task_list %}
    <li><a href="{% url 'task_detail' task.id %}">{{task.title}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>You do not have any active tasks to work on. </p> 
{% endif %}


<p><button class="button" onclick="window.location.href = '{% url 'tasks_by_tag' %}';">Tasks by Tags</button></p>
<h2>Upcoming Events</h2>
{% if event_newlist %}    
<ul>
    {% for event in event_newlist %}
    <li> <a href="{% url 'event_detail' event.id %}">{{event.title}}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>You do not have any upcoming events. </p> 
{% endif %}

<h2>Past Events</h2>

{% if event_oldlist %}    
<ul>
    {% for event in event_oldlist %}
    <li> <a href="{% url 'event_detail' event.id %}">{{event.title}}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>You do not have any past events. </p> 
{% endif %}


<!-- <p><input class="button" onclick="window.location.href = '{% url 'create_event' %}';" value="Create an event"></p> -->
<p><button class="button" onclick="window.location.href = '{% url 'create_event' %}';">Create an event</button></p>
</div>

{% endblock %}