{% extends "base.html" %}
{% block head %}
<title>Dashboard </title>
{% endblock %}

{% block body %}
<div class="container">
<h2>Dashboard <i class="fas fa-tachometer-alt"></i></h2>

<h3>My managed tasks</h3>
{% if manager_task_list %}    
    {% for task in manager_task_list %}
    <li> <a href="{% url 'task_detail' task.id %}">{{task.title}}</a></li>
    {% endfor %}
{% else %}
    <p>You do not have any ongoing tasks managed. </p> 
{% endif %}

<p><input class="btn btn-success" onclick="window.location.href = '{% url 'pre_create_task' %}';" value="Create a task"></p>

<h3>Tasks TODO</h3>
{% if assigned_task_list %}
    {% for task in assigned_task_list %}
    <li><a href="{% url 'task_detail' task.id %}">{{task.title}}</a></li>
    {% endfor %}
{% else %}
    <p>You do not have any active tasks to work on. </p> 
{% endif %}

<h3>Events</h3>
{% if event_list %}    
    {% for event in event_list %}
    <li> <a href="{% url 'event_detail' event.id %}">{{event.title}}</a></li>
    {% endfor %}
{% else %}
    <p>You do not have any future events. </p> 
{% endif %}
<p><input class="btn btn-success" onclick="window.location.href = '{% url 'create_event' %}';" value="Create an event"></p>


</div>
{% endblock %}