{% extends 'base.html' %}


{% block head %}
<title>Event Detail</title>
{% endblock %}

{% block body %}
<div class="container">
    <span class="h22new">Event: {{title}}</span> 
    <br>
    <!-- <h2>Event: {{title}}</h2> -->

    <span class="h3new">Event Description:</span>
    <br> 
    <span class="pnew">{{description}}</span> 
    <br> 
    <span class="h33new">Start Time: {{starttime}}</span>
    <br>
    <span class="h33new">End Time: {{endtime}}</span>
    <br>
    <span class="h33new">Location: {{location}}</span>
    <br>
    <span class="h33new">Host: {{host}}</span>
  
    <br>
    <!-- {% if user.userprofile.image %}
    <img src="{{ user.userprofile.image.url }}" width="240">
    {% endif %} -->
    <br>
    {% if host == user %}
    <button class="action-button animate blue" onclick="window.location.href = '{% url 'event_update' event_id %}';">Edit Event</button>
    <button class="action-button animate red" onclick="window.location.href = '{% url 'event_delete' event_id %}';">Delete Event</button>

    {% endif %}

</div>

{% endblock %}
