{% extends 'base.html' %}
{% load static %}
{% block head %}

<title>Inbox</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Unread Messages</h2>
    {% if recv_unread %}
       <ul> {% for msg in recv_unread %}
         <li><a href="{% url 'message_detail' msg.id%}">{{msg.title}} from {{msg.sender}}</a>
        {% endfor %}
    </ul>
    {% else %}
        <p>Great! You have read all messages!</p>
    {% endif %}

    {% if recv_read %}
    <h2>Read Messages</h2>
        <ul>{% for msg in recv_read %}
        <li><a href="{% url 'message_detail' msg.id%}">{{msg.title}} from {{msg.sender}}</a>
        {% endfor %} 
    </ul>            
    {% endif %}

    <h2>Sent Messages</h2>
    {% if sent %}
        <ul>{% for msg in sent %}
        <li><a href="{% url 'message_detail' msg.id%}">{{msg.title}}</a>
        {% endfor %}
    </ul>
    {% else %}
        <p>You have not sent any messages.</p>
    {% endif %}    
<p><button class="button" onclick="window.location.href = '{% url 'create_message' %}';">Create an Message</button></p>


</div>
{% endblock %}
    